<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Todo App</title> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"> 
  
</head> 
<body> 



    <h1>Simple Recorder.js demo</h1>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/app.js"></script>
    <h1>Todo List</h1> 
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST"> 
            <input type="submit" value="Add Item" class="button"> 
        </form> 
    </div> 
    <div> 
        <h2>Incomplete Items</h2> 
        <ul> 
            {% for todo in incomplete %} 
            <li style="font-size: 30pt" class='mark'>{{todo.id }}- {{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li> 
            {% endfor %}     
        </ul> 
        <h2>Completed Items</h2> 
        <ul> 
            {% for todo in complete %} 
            <li style="font-size: 30pt">{{todo.id }}- {{ todo.text }}</li> 
            {% endfor %} 
        </ul> 
    </div> 
</body> 
</html> 